<div class="max-w-full flex  h-full justify-center items-center">
    <div class="mr-4">
        <img class="h-80 object-contain" src={{data?.image}} alt="">
    </div>
    <div class="max-w-xl flex justify-center flex-col ">
       
    <h1 class="desc break-all" >{{data?.title}}</h1>
    <h3>{{data?.description}}</h3>
    
    <div class="flex items-center">
        
        <!-- <h2 class="pr-1">&#8377; {{item.price-item.offer*item.price/100}}</h2>
        <p class="dec text-gray-400 line-through" [ngClass]="item?item.offer>0?'':'offer':null" >{{item.price}}</p>
        <h2 class=" font-thin pl-1" appCustomStyle [ngClass]="item.offer>0?'':'offer'" >-{{item.offer}}%</h2> -->
        <h2 class="pr-1">&#8377; {{data?.price}}</h2>
        <p>{{data?.rating.rate}}</p>
    </div>
    <app-button class="self-center w-full" content="AddToCart" (click)="addToCart()"></app-button>

    </div>
    
    
    
</div>
